# ORM

**ORM** - object-relation map - по сути обертка базы данных, позволяющая работать с сущностями-таблицами непосредственно из кода программы. В питоне самая популярная ORM реализована в библиотеке sqlalchemy. Именно с ее помощью был написан скрипт заполнения базы, который вы запустили в самый первый день, и именно она используется в большинстве питоновских проектов, так или иначе хранящих данные в СУБД.

## sqlalchemy

Установить ее мы можем, выполнив команду:

In [ ]:
!pip install sqlalchemy

Скорее всего, она у вас уже установлена. Но чтобы работать с базой, недостаточно только установить ORM: еще нужен драйвер подключения к тому типу СУБД, который мы используем. Для postgres это psycopg2:

In [ ]:
!pip install psycopg2

Перед тем, как начать работать с базой, с ней нужно установить соединение. Если наше приложение работает бесконечно долго (например, это сервер, принимающий запросы 24/7), то держать одно соединение активным постоянно - не лучший выход, поскольку по разным внешним причинам оно может закрыться в любой момент. Создание нового соединения под каждый запрос - это тоже плохой подход, т.к. создание соединения требует и ресурсов, и времени. Поэтому была придумана тактика пула соединений.

Пул соединений — это способ хранения созданных соединений в памяти, что позволяет использовать их многократно. При таком подходе приложение при необходимости обратиться к базе данных вытягивает соединение из пула. После выполнения запросов подключение освобождается и возвращается в пул. Новое создается только в том случае, если свободных соединений не осталось.

Для создания движка (объекта Engine) в sqlalchemy используется функция create_engine(). В базовом виде она принимает только строку подключения, в которой описаны параметры подключения к источнику данных:

    dialect+driver://username:password@host:port/database
    
- dialect — это тип базы данных (mysql, postgresql, mssql, oracle и так далее).
- driver — используемый DBAPI. Этот параметр является необязательным. Если его не указать, будет использоваться драйвер по умолчанию (если он установлен).
- username и password — данные для получения доступа к базе данных.
- host — расположение сервера базы данных.
- port — порт для подключения.
- database — название базы данных.

Создадим движок для нашей БД:

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://student_romvano:парольявамнепокажу@dc-webdev.bmstu.ru:8080/sales")
connection = engine.connect()

## Создание таблиц через sqlalchemy

sqlalchemy позволяет нам работать с базой данных SQL как с объектами в коде. Создадим таблицы:

In [ ]:
from sqlalchemy import MetaData, Table, String, Integer, Column, ForeignKey
from datetime import datetime

metadata = MetaData()  # объект, в котором будет содержаться вся информация об описании таблиц

stores_duplicate_table = Table(
    'stores_duplicate',
    metadata, 
    Column('store_id', Integer(), primary_key=True),
    Column('address', String(200), nullable=False),
    Column('region', Integer(),  nullable=False, unique=False, index=False),
)

# таблица, в которой будем хранить информацию о грузовиках, которые привязаны к конкретному магазину
trucks_table = Table(
    'trucks',
    metadata,
    Column('truck_id', Integer(), primary_key=True),
    Column('weight', Integer(), nullable=False),
    Column('store_id', Integer(), ForeignKey("stores_duplicate.store_id")),
)

Пока мы еще не создали таблицы физически в БД: мы их только описали в питоновском коде. Чтобы всю эту информацию о новых таблицах передать в БД, нужно вызвать метод `create_all` у объекта Метадаты.

In [ ]:
metadata.create_all(engine)

## Добавление записей с помощью sqlalchemy

Добавление записей в таблицу через sqlalchemy выглядит намного понятней, чем сложная конструкция INSERT в оригинальном SQL:

In [ ]:
insertion = stores_duplicate_table.insert().values(
    address="ул. Пушкина, д. Колотушкина",
    region=1,
)

r = connection.execute(insertion)
print(r.inserted_primary_key)

Есть несколько способов вставить значения в таблицу. Можно выбрать любой, какой больше нравится.

In [ ]:
from sqlalchemy import insert

insertion = insert(stores_duplicate_table).values(
    address="ул. Колотушкина, д. Пушкина",
    region=1,
)

r = connection.execute(insertion)
print(r.inserted_primary_key)

### Добавление нескольких записей

Записи можно добавлять в таблицу не только через метод `insert` таблицы или функцию `insert`, принимающую таблицу, но и через метод `execute` объекта соединения с базой. При этом он может принимать сразу несколько объектов:

In [ ]:
insertion = insert(stores_duplicate_table)

r = connection.execute(
    insertion,
    [
        {
            "address": "ул. Колотушкина, д. Колотушкина",
            "region": 2,
        },
        {
            "address": "ул. Пушкина, д. Пушкина",
            "region": 2,
        },
    ]
)

print(r.rowcount)

## Выборка данных через sqlalchemy

Для того, чтобы получить данные из таблицы, мы можем использовать метод `select` у объекта таблицы или функцию `select`, в которую мы отправим объект таблицы. Эти функции не исполняют запрос, а только его формируют на языке SQL.

In [8]:
s = stores_duplicate_table.select()
print(s)

SELECT stores_duplicate.store_id, stores_duplicate.address, stores_duplicate.region
FROM stores_duplicate

In [9]:
from sqlalchemy import select

s = select([stores_duplicate_table])
print(s)

SELECT stores_duplicate.store_id, stores_duplicate.address, stores_duplicate.region
FROM stores_duplicate

Исполним запрос, используя объект соединения с базой.

In [11]:
select_statement = stores_duplicate_table.select()
r = connection.execute(select_statement)
r.fetchall()  # тут мы "скачиваем" результаты запроса к себе в оперативную память, используемую интерпретатором

[(1, 'ул. Пушкина, д. Колотушкина', 1),
 (2, 'ул. Колотушкина, д. Пушкина', 1),
 (3, 'ул. Колотушкина, д. Колотушкина', 2),
 (4, 'ул. Пушкина, д. Пушкина', 2)]

Сразу все данные, полученные в результате запроса, могут не влезть в оперативу. Поэтому можем итерироваться по строкам результирующей таблицы:

In [12]:
results = connection.execute(select_statement)
for row in results:
    print(row)

(1, 'ул. Пушкина, д. Колотушкина', 1)
(2, 'ул. Колотушкина, д. Пушкина', 1)
(3, 'ул. Колотушкина, д. Колотушкина', 2)
(4, 'ул. Пушкина, д. Пушкина', 2)

Также есть ряд вспомогательных методов, которые помогают получить не все данные, а только часть:
- `fetchone`
- `fetchmany`
- `fetchall`
- `first`

### Фильтры

Прежде добавим несколько записей в таблицу грузовиков.

In [13]:
insertion = insert(trucks_table)

r = connection.execute(
    insertion,
    [
        {
            "weight": 4000,
            "store_id": 1,
        },
        {
            "weight": 5000,
            "store_id": 1,
        },
        {
            "weight": 2500,
            "store_id": 2,
        },
        {
            "weight": 6000,
            "store_id": 2,
        },
    ]
)

Выберем те грузовки, грузоподъемность которых больше или равна 5000, а store_id = 2.

In [14]:
s = (
    select([trucks_table])
    .where(trucks_table.c.weight >= 5000)
    .where(trucks_table.c.store_id == 2)
)
print(s)

SELECT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks
WHERE trucks.weight >= :weight_1 AND trucks.store_id = :store_id_1

Сочетанием двух where мы получаем логический оператор AND в условии. Остальные операторы можно имитировать побитовыми операторами питона.

In [15]:
s = select([trucks_table]).where((trucks_table.c.store_id == 1) | (trucks_table.c.store_id == 2))  # OR
print(s)

SELECT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks
WHERE trucks.store_id = :store_id_1 OR trucks.store_id = :store_id_2

In [16]:
s = select([trucks_table]).where(~(trucks_table.c.store_id == 1))  # NOT
print(s)

SELECT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks
WHERE trucks.store_id != :store_id_1

Но также для этого есть специальные функции в sqlalchemy:

In [17]:
from sqlalchemy import and_, or_, not_

s = select([trucks_table]).where(
    and_(
        trucks_table.c.weight >= 5000,
        trucks_table.c.store_id == 2
    )
)
print(s)

SELECT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks
WHERE trucks.weight >= :weight_1 AND trucks.store_id = :store_id_1

Остальные полезные функции могут быть методами колонки, а могут быть отдельными функциями из модуля `sqlalchemy.sql.func`.

In [18]:
from sqlalchemy.sql import func as f

s = select([f.localtime().label("Время"), f.lower("ABC")])  # label - это задание имени результирующей колонки
print(s)

SELECT LOCALTIME AS "Время", lower(:lower_2) AS lower_1

In [19]:
s = select([stores_duplicate_table]).where(stores_duplicate_table.c.address.like("ул. Пу%"))
print(s)

SELECT stores_duplicate.store_id, stores_duplicate.address, stores_duplicate.region
FROM stores_duplicate
WHERE stores_duplicate.address LIKE :address_1

In [20]:
s = select([stores_duplicate_table]).where(not_(stores_duplicate_table.c.address.like("ул. Пу%")))
print(s)

SELECT stores_duplicate.store_id, stores_duplicate.address, stores_duplicate.region
FROM stores_duplicate
WHERE stores_duplicate.address NOT LIKE :address_1

In [21]:
s = select([trucks_table]).where(trucks_table.c.store_id.between(1, 2))
print(s)

SELECT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks
WHERE trucks.store_id BETWEEN :store_id_1 AND :store_id_2

In [22]:
s = select([trucks_table]).where(trucks_table.c.store_id.in_([1, 2]))
print(s)

SELECT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks
WHERE trucks.store_id IN (__[POSTCOMPILE_store_id_1])

## Сортировка, лимиты, группировка, джоины

Всё это - методы таблицы:

In [23]:
s = select([trucks_table]).order_by(trucks_table.c.weight)
print(s)

SELECT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks ORDER BY trucks.weight

In [24]:
s = select([trucks_table]).distinct()
print(s)

SELECT DISTINCT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks

In [25]:
from sqlalchemy import desc

s = (
    select([trucks_table])
    .order_by(desc(trucks_table.c.weight))
    .limit(1)
)
print(s)

SELECT trucks.truck_id, trucks.weight, trucks.store_id
FROM trucks ORDER BY trucks.weight DESC
 LIMIT :param_1

Если хотим заселектить не все колонки, а только некоторые, то прямо перечисляем их в списке аргумента select.

In [26]:
s = (
    select([f.count("*").label("count")])
    .group_by(stores_duplicate_table.c.region)
    .having(f.count("*") > 1)
)
print(s)

SELECT count(:count_1) AS count GROUP BY stores_duplicate.region
HAVING count(:count_2) > :count_3

In [27]:
s = (
    select([trucks_table.c.truck_id, stores_duplicate_table.c.region])
    .select_from(
        trucks_table.join(
            stores_duplicate_table,
            trucks_table.c.store_id == stores_duplicate_table.c.store_id  # вторым аргументом пишем ON
        )
    )
)
print(s)

SELECT trucks.truck_id, stores_duplicate.region
FROM trucks JOIN stores_duplicate ON trucks.store_id = stores_duplicate.store_id

Остальные функции SQL в алхимии имеют похожий синтаксис: `delete`, `update`. Также в алхимии остается возможность использовать подзапросы, при этом даже сохраняя их код в переменные, а также объединять таблицы через функцию `union`.

## Сырые запросы

Если у нас уже написан суровый запрос на чистом SQL, мы вряд ли захотим тратить время на то, чтобы переписать его через средства sqlalchemy. Для таких случаев в этой библиотеке есть функция `text`.

In [28]:
from sqlalchemy import text

query = "SELECT * FROM trucks"
print(text(query))

SELECT * FROM trucks

In [29]:
type(text(query))

sqlalchemy.sql.elements.TextClause

# SQLAlchemy ORM

Мы переходим к изучению ORM - object-relational mapping. Это концепция, благодаря которой описание структуры данных в коде программы позволяет генерировать запросы в СУБД. Выше, когда мы задавали вид таблиц, происходила похожая вещь, но с большим нюансом: мы в коде описывали сами таблицы, а не модель данных. В случае с питоном под **моделью данных** мы будем подразумевать просто класс, который описывает структуру хранимых объектов.

## Сессия

В sqlalchemy ORM мы работаем уже не с сырым соединением, а с объектом-сессией подключения к БД, которая создается при каждом подключении к БД. Объект Session не сразу устанавливает соединение с базой данных. Это происходит только при первом запросе.

In [34]:
from sqlalchemy.orm import Session, sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

## Создание модели данных

Создадим пару классов, которые будут описывать объекты, с которыми мы работаем, а заодно и представлять то, как они хранятся в СУБД.

Чтобы класс был валидной моделью, нужно соответствовать следующим требованиям:

1. Наследоваться от декларативного базового класса с помощью вызова функции `declarative_base()`.
2. Объявить имя таблицы с помощью атрибута `__tablename__`.
3. Объявить как минимум одну колонку, которая должна быть частью первичного ключа.

In [44]:
from sqlalchemy import create_engine, MetaData, Table, Integer, String, \
    Column, DateTime, ForeignKey, Numeric
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

Base = declarative_base()

class Store(Base):
    __tablename__ = 'stores_orm'
    
    store_id = Column(Integer, primary_key=True)
    address = Column(String(100), nullable=False)
    region = Column(Integer, nullable=False)
    
    def __repr__(self):
        return f"Магазин №{self.store_id} по адресу {self.address}"
    
    
class Truck(Base):
    __tablename__ = 'trucks_orm'
    
    truck_id = Column(Integer, primary_key=True)
    weight = Column(Integer, nullable=False)
    store_id = Column(Integer, ForeignKey("stores_orm.store_id"))
    store = relationship("Store")  # через этот атрибут мы сможем обращаться из объекта грузовика к объекту
                                   # соответствующего магазина

Создать таблицы в нашей БД мы можем, исполнив:

In [32]:
Base.metadata.create_all(engine)

## Добавление данных через ORM

Просто создаем объекты классов-моделей, затем отправляем их в сессию, а оттуда они уже передаются в БД.

In [35]:
store1 = Store(address="ул. Пушкина, д. Колотушкина", region=1)
store2 = Store(address="ул. Колотушкина, д. Пушкина", region=1)

session.add(store1)
session.add(store2)

Можно также добавить сразу несколько магазинов.

In [36]:
store3 = Store(address="ул. Колотушкина, д. Колотушкина", region=2)
store4 = Store(address="ул. Пушкина, д. Пушкина", region=2)

session.add_all([store3, store4])

Можем посмотреть, какие объекты на данный момент добавлены в сессию:

In [37]:
session.new

IdentitySet([<__main__.Store object at 0x7fb080124310>, <__main__.Store object at 0x7fb070a713a0>, <__main__.Store object at 0x7fb080124460>, <__main__.Store object at 0x7fb070a71820>])

Сохраним объекты из сессии в базу:

In [38]:
session.commit()

## Выборка данных через ORM

Здесь мы взаимодействуем с базой через сессию.

In [39]:
print(session.query(Store).all())

[<__main__.Store object at 0x7fb080124310>, <__main__.Store object at 0x7fb070a713a0>, <__main__.Store object at 0x7fb080124460>, <__main__.Store object at 0x7fb070a71820>]

Посмотрим сам текст запроса:

In [40]:
print(session.query(Store))

SELECT stores_orm.store_id AS stores_orm_store_id, stores_orm.address AS stores_orm_address, stores_orm.region AS stores_orm_region
FROM stores_orm

По аналогии с таблицами sqlalchemy, получать конкретные объекты из запроса можно теми же способами и из запроса сессии:

In [41]:
q = session.query(Store)

for c in q:
    print(c.store_id, c.address, c.region)

1 ул. Пушкина, д. Колотушкина 1
2 ул. Колотушкина, д. Пушкина 1
3 ул. Колотушкина, д. Колотушкина 2
4 ул. Пушкина, д. Пушкина 2

Также можно получить и не все колонки, а только нужные:

In [42]:
print(session.query(Store.store_id, Store.address).all())

[(1, 'ул. Пушкина, д. Колотушкина'), (2, 'ул. Колотушкина, д. Пушкина'), (3, 'ул. Колотушкина, д. Колотушкина'), (4, 'ул. Пушкина, д. Пушкина')]

Можно получить только первый элемент, посчитать количество строк или получить элемент по первичному ключу таблицы:

- `session.query(Store).count()`
- `session.query(Store).first()`
- `session.query(Store).get(2)`

## Фильтрация данных

In [46]:
session.query(Store).filter(Store.address.like("ул. Пу%"), Store.region == 1).all()

[Магазин №1 по адресу ул. Пушкина, д. Колотушкина]

In [47]:
session.query(Store).filter(or_(Store.address.like("ул. Пу%"), Store.region == 1)).all()

[Магазин №1 по адресу ул. Пушкина, д. Колотушкина,
 Магазин №2 по адресу ул. Колотушкина, д. Пушкина,
 Магазин №4 по адресу ул. Пушкина, д. Пушкина]

## Сортировка, лимиты, джоины

In [48]:
session.query(Store).limit(2).all()

[Магазин №1 по адресу ул. Пушкина, д. Колотушкина,
 Магазин №2 по адресу ул. Колотушкина, д. Пушкина]

In [49]:
session.query(Store).order_by(desc(Store.region)).all()

[Магазин №3 по адресу ул. Колотушкина, д. Колотушкина,
 Магазин №4 по адресу ул. Пушкина, д. Пушкина,
 Магазин №1 по адресу ул. Пушкина, д. Колотушкина,
 Магазин №2 по адресу ул. Колотушкина, д. Пушкина]

In [52]:
session.query(Store).join(Truck).all()

[]

## Обновление данных

Можно обновлять один объект через него самого, а можно обновлять значение сразу у многих объектов через сессию.

In [53]:
s = session.query(Store).first()
s.region = 10
session.add(s)
session.commit()

In [60]:
[s.region for s in session.query(Store).all()]

[2, 2, 12, 12]

In [59]:
session.query(Store).filter(
    Store.store_id < 3
).update({"region": 12}, synchronize_session='fetch')
session.commit()

Для удаления данных похожим образом используется метод `delete` объекта сессии.

### Сырые запросы

In [61]:
session.query(Store).filter(text("address LIKE 'ул. Пу%'")).all()

[Магазин №4 по адресу ул. Пушкина, д. Пушкина,
 Магазин №1 по адресу ул. Пушкина, д. Колотушкина]

# Flask

**Flask** - это фреймворк для создания веб-приложений. Это, пожалуй, один из самых простых фреймворков такого плана. Он отличается большим количеством дополнительных расширений на все случаи жизни. В отличие от Django, который мы будем изучать в следующем модуле, во фласке по умолчанию нет большого количества функционала. Например, даже чтобы поддерживать сессии для разных пользователей, нужно скачивать расширение. Тем не менее легкость и скорость разработки - это очень весомые преимущества фласка, поэтому он пользуется большой популярность.

Установим базовую версию фласка:

In [ ]:
!pip install Flask

Далее возьмем пример из официальной документации, в котором запускается самый простой сервер: https://flask.palletsprojects.com/en/2.2.x/quickstart/

In [62]:
from flask import Flask

app = Flask(__name__)

@app.route("/")
def hello_world():
    return "<p>Hello, World!</p>"

Что происходит в этом коде? Мы создаем объект `app`, который является нашим приложением-сервером, которое можно запустить (в данном примере он только создается, не запускается). Далее мы говорим серверу, что если пользователь обратился к нам по адресу корневой страницы нашего веб-приложения, то должна исполниться функция `hello_world`. Эта функция возвращает кусок HTML-кода, который и будет отправлен клиенту.

Если вы исполните предыдущую ячейку, то сервер не будет запущен. Для запуска нужно выполнить команду:

In [ ]:
app.run("0.0.0.0", port=8080)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://0.0.0.0:8080/ (Press CTRL+C to quit)
127.0.0.1 - - [17/Mar/2023 01:07:29] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [17/Mar/2023 01:07:35] "GET /login HTTP/1.1" 200 -
127.0.0.1 - - [17/Mar/2023 01:08:21] "GET /user HTTP/1.1" 404 -
127.0.0.1 - - [17/Mar/2023 01:08:37] "GET /user/qwerty HTTP/1.1" 200 -

Эта ячейка запускает бесконечный цикл, в котором крутится наш сервер. Первым аргументом мы задали подсеть, из которой можно к нему подключиться (четыре нуля - это вся доступная сеть), а вторым аргументом обозначили порт, по которому можно зайти на наш сервер. Сейчас он доступен по адресу http://localhost:8080/.

Завершить работу сервера мы можем, прервав исполнение ячейки.

Понятное дело, запускать сервер из юпитера - не вариант. Чтобы делать это адекватно, создадим файл `app.py` и переместим код создания приложения туда (последнюю строку `app.run(...)` переносить не надо).

После этого мы сможем запустить сервер из терминала, введя команду

    python -m flask --host 0.0.0.0 --port 8080
    
из той папки, куда поместили файл `app.py`. Обратите внимание, что название файла играет роль.

## Управление адресами (роутинг)

Фласк позволяет удобно управлять контентом в зависимости от адреса, к которому обращается пользователь. Мы можем задать не только конкретный адрес для исполнения определенной логики, но и параметризовать его:

In [64]:
@app.route('/')       # тут описываем логику генерации корневой страницы
def index():
    return 'index'

@app.route('/login')  # тут описываем логику генерации контента по адресу /login
def login():          # сможем увидеть результат, зайдя по localhost:8080/login
    return 'login'
 
@app.route('/user/<username>')       # а тут - параметризованный URL. Данные, написанные в <username>,
def profile(username):               # попадут в аргумент username
    return f'{username}\'s profile'

## Передача параметров в функцию-обработчик

Чаще всего для передачи данных используются методы GET и POST (есть и другие, но сейчас остановимся на этих). GET передает данные прямо в адресе и используется обычно для запросов на получение данных, а POST передает данные скрыто и чаще используется для отправки чего-то на сервер. Чтобы обозначить, какими методами можно обращаться к функции, нужно указать методы в декораторе `route`:

In [ ]:
from flask import request


@app.route('/login', methods=['POST', 'GET'])
def login():
    if request.method == 'POST':
        user = request.json['name']   # получаем данные, полученные через JSON
        return redirect(url_for('dashboard', name=user))
    else:
        user = request.args.get('name')  # или данные, которые пришли к нам в открытом виде в составе URL
        return render_template('login.html')

## Формирование ответа

Чаще всего общение между клиентом и сервером происходит в формате JSON. Чтобы вернуть данные в этом формате, нужно просто вернуть из функции соответствующий питоновский объект.

In [ ]:
@app.route("/me")
def me_api():
    user = get_current_user()
    return {
        "username": user.username,
        "theme": user.theme,
        "image": url_for("user_image", filename=user.image),
    }

@app.route("/users")
def users_api():
    users = get_all_users()
    return [user.to_json() for user in users]

# Задание

Опишем сервер, который поможет нам взаимодействовать с нашей базой данных.

## Рекомендации

Лучше всего разделить код на два файла, которые положим в одну папку:

- `app.py` - код сервера
- `database.py` - код функций, обращающихся к базе данных. Функции этого файла должны вызываться из функций `app.py`.

Таким образом, точкой входа в приложение будем считать сервер, а функции, взаимодействующие с базой - вспомогательными, которые используются в точке входа там, где нужно.

Разрабатывать удобней в PyCharm, вот тут инструкция по настройке его для фласка: https://flask.palletsprojects.com/en/2.2.x/cli/?highlight=pycharm#pycharm-integration

## Требования

**Общее:**

- взаимодействие с БД должно происходить через библиотеку sqlalchemy без использования сырых запросов (но если используете ORM, то можно);
- когда проверяем работоспособность запросов с методом POST, в параметрах запроса нужно всегда указывать тип `application/json`, иначе свойство `json` объекта `request` будет пустым;
- все файлы с кодом поместите в папку src в той же структуре, в которой вы их написали.

**Конкретно по пунктам**

Реализуйте следующие GET-обработчики:

1. По запросу `/customers/show/` верните список 10 случайных клиентов в виде:

    [
        {
            "customer_id": 1,
            "name": "Василий",
            "surname": "Петров"
        }
    ]
    
2. По запросу `/stores/<store_id>` верните всю информацию по магазину с переданным store_id. Названия колонок должны быть ключами JSON-объекта, значения - значениями. Обратите внимание, что в предыдущем задании нужно возвращать список словарей, а здесь - словарь. Если магазина с таким айдишником нет в базе, верните пустой словарь.

3. По запросу `/prices/max` верните всю информацию о товаре, цена которого была максимальной за всё время, а также саму цену и дату начала ее действия. Если таких товаров несколько, выведите тот, максимальная цена которого была назначена позже.

4. По запросу `/prices/stats/<product_id>` для продукта с переданным product_id выведите статистику по ценам в следующем виде:

    {
        "count": <число - количество цен по этому объекту в базе>,
        "stores_count": <число - количество магазинов, в которых этот товар хоть раз продавался (без дублей)>,
        "max_price": <число - максимальная цена по этому товару>,
        "min_price": <число - минимальная цена по этому товару>,
        "avg_price": <число - средняя цена по всем магазинам по данному товару>
    }
    
  Если продукта с этим product_id в базе нет, верните пустой словарь.
    
И следующие POST-обработчики:

5. По запросу `/stores/add` добавьте новый магазин в таблицу магазинов. Вид входящих данных в POST-запросе:

    {
        "address": "ул. Пушкина, д. 5",
        "region": 5
    }

  Запрос должен вернуть `{"store_id": 25}` с тем айдишником, который БД присвоила новому магазину.
  
6. По запросу `/stores/delete/<store_id>` удалите из базы магазин с поступившим айдишником. Если всё прошло гладко, верните словарь `{"status": "ok"}`. Если такого магазина в базе нет, верните ответ `{"status": "not found"}`.